aryadee.dev {
    reverse_proxy localhost:7000
	tls internal
}

nathaliektherapy.com {
	reverse_proxy localhost:8000
	tls internal
}

# Local access for LAN clients via http://pi
pi {
    reverse_proxy localhost:7000
	tls internal
}

# Local access for LAN clients via http://pi
pi.local {
    reverse_proxy localhost:7000
	tls internal
}